{
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindFunctions": ["cn"],
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "singleQuote": false,
    "trailingComma": "none",
    "printWidth": 80
}
